In [1]:
import pandas as pd
import numpy as np 
import plotly.express as px

This is a table of Premier league players for season 2022/23 whith shooting and goals

In [2]:
df=pd.read_csv("Book3.csv")
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Standard,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Expected,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Gls,Sh,...,Dist,FK,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG,Matches
1,1,Brenden Aaronson,us USA,"MF,FW",Leeds United,21,2000,26.4,1,41,...,18.4,2,0,0,3.9,3.9,0.09,-2.9,-2.9,Matches
2,2,George Abbott,eng ENG,MF,Tottenham,16,2005,0,0,0,...,NaN,0,0,0,0,0,NaN,0,0,Matches
3,3,Che Adams,sct SCO,FW,Southampton,26,1996,22.1,5,47,...,13.8,0,0,0,6.7,6.7,0.14,-1.7,-1.7,Matches
4,4,Tyler Adams,us USA,MF,Leeds United,23,1999,24,0,4,...,27.5,0,0,0,0.1,0.1,0.03,-0.1,-0.1,Matches
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587,565,Jordan Zemura,zw ZIM,DF,Bournemouth,22,1999,16.2,0,4,...,12.9,0,0,0,0.4,0.4,0.1,-0.4,-0.4,Matches
588,566,Oleksandr Zinchenko,ua UKR,DF,Arsenal,25,1996,23.5,1,28,...,22.7,0,0,0,1.4,1.4,0.05,-0.4,-0.4,Matches
589,567,Hakim Ziyech,ma MAR,"FW,MF",Chelsea,29,1993,7.3,0,16,...,22.7,0,0,0,0.6,0.6,0.04,-0.6,-0.6,Matches
590,568,Kurt Zouma,fr FRA,DF,West Ham,27,1994,22.1,2,19,...,10.1,0,0,0,2.2,2.2,0.12,-0.2,-0.2,Matches
591,569,Martin Ødegaard,no NOR,MF,Arsenal,23,1998,34.7,15,93,...,19.2,9,0,0,10,10,0.11,5,5,Matches

In [4]:
df.columns = df.iloc[0]

# Drop the first row since it's now the header
df = df[1:].reset_index(drop=True)

In [5]:
df

,Rk,Player,Nation,Pos,Squad,Age,Born,90s,Gls,Sh,...,Dist,FK,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG,Matches
0,1,Brenden Aaronson,us USA,"MF,FW",Leeds United,21,2000,26.4,1,41,...,18.4,2,0,0,3.9,3.9,0.09,-2.9,-2.9,Matches
1,2,George Abbott,eng ENG,MF,Tottenham,16,2005,0,0,0,...,NaN,0,0,0,0,0,NaN,0,0,Matches
2,3,Che Adams,sct SCO,FW,Southampton,26,1996,22.1,5,47,...,13.8,0,0,0,6.7,6.7,0.14,-1.7,-1.7,Matches
3,4,Tyler Adams,us USA,MF,Leeds United,23,1999,24,0,4,...,27.5,0,0,0,0.1,0.1,0.03,-0.1,-0.1,Matches
4,5,Tosin Adarabioyo,eng ENG,DF,Fulham,24,1997,23.2,1,16,...,21.2,1,0,0,0.7,0.7,0.04,0.3,0.3,Matches
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
586,565,Jordan Zemura,zw ZIM,DF,Bournemouth,22,1999,16.2,0,4,...,12.9,0,0,0,0.4,0.4,0.1,-0.4,-0.4,Matches
587,566,Oleksandr Zinchenko,ua UKR,DF,Arsenal,25,1996,23.5,1,28,...,22.7,0,0,0,1.4,1.4,0.05,-0.4,-0.4,Matches
588,567,Hakim Ziyech,ma MAR,"FW,MF",Chelsea,29,1993,7.3,0,16,...,22.7,0,0,0,0.6,0.6,0.04,-0.6,-0.6,Matches
589,568,Kurt Zouma,fr FRA,DF,West Ham,27,1994,22.1,2,19,...,10.1,0,0,0,2.2,2.2,0.12,-0.2,-0.2,Matches
590,569,Martin Ødegaard,no NOR,MF,Arsenal,23,1998,34.7,15,93,...,19.2,9,0,0,10,10,0.11,5,5,Matches

In [6]:
df.columns

Index(['Rk', 'Player', 'Nation', 'Pos', 'Squad', 'Age', 'Born', '90s', 'Gls',
       'Sh', 'SoT', 'SoT%', 'Sh/90', 'SoT/90', 'G/Sh', 'G/SoT', 'Dist', 'FK',
       'PK', 'PKatt', 'xG', 'npxG', 'npxG/Sh', 'G-xG', 'np:G-xG', 'Matches'],
      dtype='object', name=0)